.titulo-principal{
    padding-left: 30px;
}
header{
    background-color: grey;
}
.header{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(199, 199, 36);
}
.centralizado{
    text-align: center;
}
p{
    text-align: center;
}
strong{
    color: red;
}
#banner{
    width: 100%;
}
.principal{
    background-color: grey;
    padding: 20px;
}
.items{
    font-size: initial;
}
.diferenciales{
    background-color: white;
    padding: 30px;
}
.ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgDiferenciales{
    width: 50%;
}
footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}
.copy{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
